.signin-form-containter{
  width: 35vw;
  background: gray;
  padding: 20px;
  margin: 20rem auto;
  align-items: center;
}
.signin-form{
  background: rgb(32, 34, 44);
  padding: 20px 15px 20px 0;
}
.form-input1{
  border: 1px gray solid;
  border-radius: 0;
  background: transparent;
  width: 44%;
}
.form-input{
  border: 1px gray solid;
  border-radius: 0;
  background: transparent;
  width: 90%;
}
.my-btn{
  border-radius: 0;
  width: 90%;
}
.form-input:focus, .form-input1:focus{
  background: rgba(1, 1, 1, .2);
}
.khoshAmadid{
  color: aliceblue;
  text-align: center;
  font-size: 22px;
}
.faramoosh{
  color: aliceblue;
}
